
# Glavne zavisnosti aplikacije
pyside6
pandas
matplotlib
seaborn
python-dotenv
google-generativeai
scipy

# Zavisnosti za ML model
tensorflow

# Zavisnost za rad sa Excel fajlovima (opciono, za inicijalni unos)
openpyxl
